*{
	margin:0;

}

body {
	font-style:"lucida console";
	font-size:20px;
}

a {
	color: blue;
}

h1 {
	text-align:center;
	font-style:"lucida console";
	font-size:28px;
}

.initially-invisible, .table {
	display:none;
}

.inline-display {
	display:inline;
}

.intro {
	font-size:20px;
	background-color: lightgray;
	padding-left:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-style:solid;
	border-color:black;
	border-width:5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
}

td,th {
	border: 1px solid #0c0101;
	text-align: left;
}
th {
	background-color: lightgray;
}
table {
	font-family: verdana;
	border-collapse: collapse;
	width: 100%;
}

.button {
	background-color:rgb(35, 35, 35);
	border: none;
	border-radius:5px;
	color: white;
	padding: 8px 24px;
	text-align: center;
}

.button:hover {
	background-color: lightgray;
	color:black;
}

select {
	width: 125px;
	height: 25px;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 8px #999;
	background: #eee;
	border: none;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
  }
label {
	position: relative;
}
label:after {
	content: '<>';
	font: 11px "Consolas", monospace;
	color: #666;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 8px;
	top: 2px;
	padding: 0 0 2px;
	border-bottom: 1px solid #ddd;
	position: absolute;
	pointer-events: none;
}
label:before {
	content: '';
	right: 6px;
	top: 0px;
	width: 20px;
	height: 20px;
	background: #eee;
	position: absolute;
	pointer-events: none;
	display: block;
  }

.selections p {
	  text-align:center;
	  font:verdana;
  }

ul {
	  list-style-type:none;
	  margin:0;
	  padding:0;
	  overflow: hidden;
	  background-color:#333;
}

li {
	float:left;
	border-right: 1px solid black;
}
li a{
	display:block;
	padding:8px;
	color:white;
	text-decoration:none;
	font:verdana;
}

li a:hover {
	background-color:#111;
}

li:last-child{
	border-right:none;
}